<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap" rel="stylesheet">
    <title>SimpleBlog</title>
</head>
<body>
    <header class="header blog-header">
        <h1 class='logo'><a href="/" class="logo__link">SimpleBlog</a></h1>
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="button"><h1 class="button__text">Add post</h1></a>
            <a href="{% url 'logout' %}" class="button"><h1 class="button__text">Log Out</h1></a>
        {% else %}
            <a href="{% url 'login' %}" class="button"><h1 class="button__text">Log In</h1></a>
        {% endif %}  
    </header>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="footer">
        <div>Просто чтобы было видно</div>
    </footer>
</body>
</html>