{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <div class="post__header">
            <p class="post__author">{{ post.author }}</p>
            {% if post.published_date %}
                <p class="post__public-date">
                     {{ post.published_date }}
                </p>
            {% endif %}
            {% if user.is_authenticated %}
                <a class="button_detail" href="{% url 'post_edit' pk=post.pk %}">Edit</a>
                <a class="button_detail" href="{% url 'post_remove' pk=post.pk %}">Delete</a>
            {% endif %}
        </div>
            
        <h1 class="post__title">{{ post.title }}</h1>
        <p class="post__text">{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}