{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <section class="post">
            <h1 class="post__title"><a href="{% url 'post_detail' pk=post.pk %}" class="title">{{ post.title }}</a></h1>
            <p class="post__author">{{ post.author }}</p>
            <p class="post__preview">{{ post.text|linebreaksbr }}</p>
             <p class="post__public-date">
                {{ post.published_date }}
             </p>
        </section>
    {% endfor %}
{% endblock %}