body {
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}
header {
    width:100%;
    background-color: #000000;
    margin-bottom: 5px;
    display: flex;
}
.logo {
    color: #fff;
    font-size: 36pt;
    margin: 3px;
    flex:3;
}
.logo__link {
    color: #fff;
}

.button{
    font-family: 'Merriweather', serif;
    font-size: 16px;
    color:#fff;
    border: 3px solid #fff;
    padding: 3px;
    text-decoration: none;
    text-align: center;
    margin: 10px;
    flex:1;
}
.button__text {
    margin: 3px;

}
.post{
    margin: 0px 10px 5px 15px;
    border: 3px solid #000;
    padding: 5px;
}

.post__title{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    margin: 3px 0 5px 0;
    font-weight: 200;
}
.title{
    color: #000000;
}

.post__author{
    font-family: 'Merriweather', italic;
    color: #979797;
    font-size: 18px;
    margin: 0;
}
.post__preview{
    font-family: 'Merriweather', serif;
    font-size: 16px;
    margin: 0;
}
.post__public-date{
    font-family: 'Merriweather', serif;
    color: rgb(151, 151, 151);
    font-size: 12px;
    margin: 10px 0 3px 40px;
}

.button_detail{
    color: #828282;
}
.button_detail:hover{
    color: #0f0f0f;
}

.date {
    color: #828282;
}

.button_action {
    float: right;
    background-color: rgb(255, 255, 255); 
    border: 3px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    display: inline-block;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
} 

footer {
    width:100%;
    background-color: #000000;
    margin: 0;
}