
{% extends "blog/base.html" %}

{% block content %}
    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="post">
                <legend class="post__title">Join Today</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="button_action button" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <p class="post__preview">
                Already Have An Account? <a class="button_detail" href='../accounts/login/'>Sign In</a>
            </p>
        </div>
    </div>
{% endblock content %}